/** Font Weights */

.fw-400{
    font-weight: 400!important;
}
.fw-500{
    font-weight: 500!important;
}
.fw-600{
    font-weight: 600!important;
}
.fw-700{
    font-weight: 700!important;
}

/** Font Sizes */
.fs-12{
    font-size: 12px!important;
}
.fs-14{
    font-size: 14px!important;
}
.fs-16{
    font-size: 16px!important;
}
.fs-18{
    font-size: 18px!important;
}
.fs-20{
    font-size: 20px!important;
}
.fs-24{
    font-size: 24px!important;
}
.fs-36{
    font-size: 36px!important;
}
